@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger:has(input:checked)::before {
  rotate: 45deg;
  width: 3.535533905925rem;
  translate: 0 -0.25rem;
  background-color: black;
}

.hamburger:has(input:checked)::after {
  rotate: -45deg;
  width: 3.535533905925rem;
  translate: 0 0.25rem;
  background-color: black;
}

.sidebar {
  translate: -100%;
}

.hamburger:has(input:checked) + .sidebar {
  translate: 0;
  width: 300px;
}

.svg-background {
  background-image: url("../public/layered-waves-haikei.svg");
}
